*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'sans-serif';
	box-sizing: border-box;
}

.right{
	float:right;
}
header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/background.jpg);
	background-position: center center;
	background-size:cover;
	z-index:4;
}
.container3{
	width:100%;
	height:130vh;
	background:green;
	display:flex;
	align-items:center;
	justify-content:center;

}
form{
	margin-top:60px;
	background:#fff;
	display:flex;
	flex-direction:column;
	padding:2vw 4vw;
	width:90%;
	max-width:600px;
	border-radius:10px;

}
form h3{
	color:#555;
	font-weight:800;
	margin-bottom:20px;

}
form input , form textarea{
	border:0;
	margin:10px 0;
	padding:20px;
	outline:none;
	background: #f5f5f5;
	font-size:16px;
}
form button{
	padding:15px;
	background:#ff5361;
	color: #fff;
	font-size:18px;
	border:0;
	outline:none;
	cursor:pointer;
	margin:20px auto;
	border-radius:30px;
}
.secondbackground{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/background2.jpg);
	background-position: center center;
	background-size:cover;
	z-index:2;
	 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment:fixed;
}
footer {
	position:relative;
	border-top: 2px solid rgb(255, 255, 255, .2);
	width:100%;
	background:black;
	min-height:60px;
	padding:10px 10px;  
	justify-content:center;
	display:flex;
	align-items:center;
}

.bold{

	font-weight:900;
	font-size:30px;
	font-family: Poppins, sans-serif;
}

footer p {
	color:#fff;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	font-size:1.1em;
}


footer .social_icon{
	position:center;
	margin-left: 300px;
	list-style:none;
}



hr.solid {
  border-top: 3px solid #bbb;
}



nav{

	width:100%;
	position:top;
	font-family: Poppins, sans-serif;
	justify-content: space-between;
	align-items:center;
	background-color: rgba(0,0,0,0.6);
	position:fixed;
	z-index:1;
	top:0;
	padding: 25px 35px;
	font-family: "Poppins", sans-serif;
	backdrop-filter: blur(2px);
	box-shadow: 0 20px 30px rgba(0,0,0,0.15);
	border-bottom: 2px solid rgb(255, 255, 255, .2);

	
}

ul{
	list-style:none;
}
li{
		position:relative;
	float:right; 
	display:block;
}
nav a {
	color:#ffffff;
	text-decoration:none;
	letter-spacing:1px;
}
.active {
	background-color: #fff;
	color: #000;
}
.main ul li:hover .sub-menu
{
	display: block;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: 20px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	position:relative;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: right;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: -2px;
	margin-right: 20px ;

}
ul li{
	display: inline-block;
	float: right;
	margin: 4px;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color:#fff;
	color: #000;

}


.blacksquare{
	width:700px;
	height:400px;	background-color:black;
	opacity: 0.5;
	float: center;
	position:behind;
	margin: 0px auto;
	
	
}
.firsttittle{
	
	margin-top:-100px;

	position: center;
  	text-align:center;

}
.firsttext{

	font-size:1.3vw;
	text-align: center;
	margin: auto;
	max-width: 700px;

}
.center {
	text-align:center;
  	align-items: center;
  	width:370px;
  	margin-left:480px;
}
.blackbackground{
	background-color:black;
	height: 80px;
}
.main-button{
	font-family:Poppins;
	width:225px;
	font-weight: 900;
	position:relative;
	background: #fff;
	color:#fff;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing:0.1em;
	padding: 10px 30px;
	transition: 0.5s;
}
.main-button:hover{
	color: var(--clr);
	letter-spacing:0.15em;
	background:var(--clr);
	box-shadow:0 0 10px var(--clr);
}
.main-button:before{
	content:'';
	position:absolute;
	inset: 2px;
	background:  black;
	
}
.main-button span{
	position:relative;
	
}
.main-button i
{
	position: absolute;
	inset:0;
	display:block;
}
.main-button i::before
{
	content:'';
	position:absolute;
	top:0;
	left:80%;
	width:10px;
	height:4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition:0.5s;
}
.main-button:hover i::before
{
	width:20px;
	left:20%;

}
.main-button i::after
{
	content:'';
	position:absolute;
	bottom:0;
	left:20%;
	width:10px;
	height:4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition:0.5s;
}
.main-button:hover i::after
{
	width:20px;
	left:80%;

}
.text-box{

	color:#fff;
	position:absolute;
	bottom:8%;

}
.text-box h1{
	font-family:Poppins;
	 font-weight: bold;
	 font-weight: 900;
	font-size:30px;
	margin-left:-10px;
	margin-top: -10px;
	color:transparent;
	-webkit-text-stroke: 1px #fff;
	text-transform: capitalize;
	background: url(images/back.png);
	-webkit-background-clip: text;
	background-position:0 0;
	animation: back 20s linear infinite;
	letter-spacing:3px;


}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}

.container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items:center;


}
.box1 , .box2 , .box3 {
	width:300px;
	height:320px;
	background: radial-gradient(circle at top left,transparent 340px, rgba(255,255,255,.3)),
	radial-gradient(circle at bottom right,transparent 310px, rgba(255,255,255,.3));
	margin:15px;
	padding: 5px;
	color:whitesmoke;
	text-align:center;
	transition: 0.3s ease-in-out;
}

.box1:hover , .box2:hover, .box3:hover {
	background-color: rgba(108, 122, 137, 0.2);


}
.credit{
	width:500px;
	height:50px;
	text-align: center;
	border-width: 2px;
	border-color: #ffffff;
	border-style:solid;
  	position: absolute;
  	align-items:center;
	justify-content:center;
	margin-top:730px;
	margin-left:10px;
	padding-left:25px;
	padding-top:13px;
	font-size:15px;
	font-family:Poppins;
	font-weight:900;
}
.icon {
	margin:1.2rem 0 .3rem 0;
}
h2{
	letter-spacing:2px;
	margin:0 0 .5rem 0;
}
.box1 p,.box2 p,.box3 p{
	line-height:1.6;
	padding: 0 10px;
}
.team
	{

	width: 100%;
	height: 67vh;
	background: #301934;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team h1{
		margin-top:30px;

}
.team-content{

	width: 90%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 1rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}

.boxsecond{
	
	width:18%;
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box, .boxsecond h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box, .boxsecond h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons ion-icon{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons ion-icon:hover{
	transform: scale(1.2);
}
.box:hover , .boxsecond:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 20px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}


.button,.file {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button,.input,.textarea,.select select,.file-cta,.file-name {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.button:focus,.input:focus,.textarea:focus,.select select:focus,.file-cta:focus,.file-name:focus,.button:active,.input:active,.textarea:active,.select select:active,.file-cta:active,.file-name:active {
  outline: none;
}

.button[disabled],.input[disabled],.textarea[disabled],.select select[disabled],.file-cta[disabled],.file-name[disabled] {
  cursor: not-allowed;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}




span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

legend,textarea {
  margin: 0;
  padding: 0;
}



html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button strong {
  color: inherit;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}


textarea {
    min-height: 50px;
    resize:vertical;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px white;
  height:500px;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}


.icon {
	margin:1.2rem 0 .3rem 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}



select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}
textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}
::-webkit-input-placeholder {
	color: gray;
}

:-moz-placeholder { 
	color: gray;
	opacity: 1;
}

::-moz-placeholder {
	color: gray;
	opacity: 1;
}

:-ms-input-placeholder {
	color: gray;
}



@media screen and (max-width: 1240px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 1240px) {
  h1 {
    font-size: 26px;
  }
.firsttittle{
	margin-left:-30px;
	font-size:46px;
}
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 18px;
  }
.firsttittle{
	margin-left:0.5em;
}
     .firsttext {
    font-size: 16px;
    width:500px;
  }
  .main-button{
  	  margin-left:0.5px;
  }


@media screen and (max-width: 720px) {
  h1 {
    font-size: 18px;
  }
     .firsttext {
    font-size: 16px;
    width:400px;
    margin-top:-40px;
    margin-left:18%;
  }
  	.firsttittle{
  		margin-top:-250px;
  		margin-left:30px;
  	}
  .main-button{
  	  margin-left:25px;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}


}
.our-blogs{
		min-height:100vh;
		width:100%;
		background-color:#301934;

}
.containerblog{
	max-width:1170px;
	padding:80px 10px;
	margin:0 auto;
}
.blog-header{
	margin:0 auto;
	text-align:center;
	max-width: 700px;
}
.blog-header h3{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:0px;
	color:white;

}

.blog-header h2{
	margin-bottom:20px;
	font-size:40px;
	font-weight:700;
	color:white;
}

.blog-header p{
	font-size:18px;
	columns:#999;
	line-height:1.5em;
	margin-bottom:15px;
	color:white;
}

.blogs{
	display:grid; 
	grid-template-columns:repeat(3, 1fr);
	grid-gap:30px;
}

.blog-top{
	position:relative;
	margin-bottom:10px;
}
.blog-top img{
	width:100%;
	height:auto;
	border-radius:5px;
}
.blog-top .blog-category{
	position:absolute;
	top:20px;
	left:20px;
	color:#fff;
	background-color:#000;
	padding:5px 10px;
	border-radius:5px;
	font-size:12px;
	text-transform:uppercase;
}
.blog-about {
	margin-bottom:1px;
	color:#efcc90;
}
.blog a{
	color:white;
	text-decoration:none;
}
.blog a h4{
	font-size:20px;
	font-weight:600;
	margin-bottom:20px;
	color:white;
}
.blog .blog-text{
	font-size:12px;
	margin-top:-10px;
	margin-bottom:30px;
	color:#d3d3d3;
}
.read-more{
	margin-top:20px;
	display:block;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	transition:all 0.4s ease;
}
.read-more:hover{
	margin-left:20px;
}
@media screen and (max-width:1000px){
	.containerblog {

		padding:30px 20px;

	} 
	.blogs {
		grid-template-column: 1fr;
		grid-gap:50px;
	display: flex;
	width:100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	}
}
@media screen and (max-width:955px) {
.firsttext{
position:center;
}
}
@media screen and (max-width:1055px) {
.secondbackground{
height: 80vh;
}
.second{
	margin-left: -1000px;
}
header{
height:100vh;
}
}
@media screen and (max-width:870px) {
.secondbackground{
height: 190vh;
}
.second{
	margin-left:-400px;
}

}


.imgblog {
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.imgblog:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
      transform: scale(1.02);
  box-shadow: 3px 3px 9px #000000;
}

    @media ( max-width : 880px) {
      
         .text-box {
            margin-left:150px;
        }
        nav{
        	line-height:20px;
        }

}



nav {
  justify-content: space-between;

}
a {
  color: #fff;
  text-decoration: none;
}
nav .logo {
  font-size: 22px;
  font-weight: 500;
}



nav .navOpenBtn,
nav .navCloseBtn {
  display: none;

}


@media screen and (max-width: 950px) {
  .text-box {
  	margin-top:-10px;
  }
 
}
@media screen and (max-width: 768px) {
  
 
  nav .openNav .nav-links {
    left: 0;
  }
   .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index:1;
  }
 

}










#contactme {
  background-color: black;
  color: white;
  height: 180px;
}


#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

.top-nav {
  background-color: #671100;
}

.top-nav a {
  color: #d3e316;
}

h1.headingStatement {
  font-family: Monospace;
  font-size: 2em;
}




:root {
  /* colors */
  --ad5-color-primary-hsl: 250, 84%, 54%;
  --ad5-color-bg-hsl: 0, 0%, 100%;
  --ad5-color-contrast-high-hsl: 230, 7%, 23%;
  --ad5-color-contrast-higher-hsl: 230, 13%, 9%;
  --ad5-color-contrast-medium-hsl: 225, 4%, 47%;
  --ad5-color-accent-hsl: 342, 89%, 48%;
  --ad5-color-contrast-lower-hsl: 220, 75%, 36%;

  /* spacing */
  --ad5-space-xs: 0.5rem;
  --ad5-space-md: 1.25rem;
  --ad5-space-lg: 2rem;
  --ad5-space-sm: 0.75rem;

  /* typography */
  --ad5-text-md: 1.2rem;
  --ad5-text-base: 1rem;
  --ad5-text-sm: 0.833rem;
  --ad5-text-sm: 0.833rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --ad5-space-xs: 0.75rem;
    --ad5-space-md: 2rem;
    --ad5-space-lg: 3.125rem;
    --ad5-space-sm: 1.125rem;

    /* typography */
    --ad5-text-md: 1.5625rem;
    --ad5-text-base: 1.25rem;
    --ad5-text-sm: 1rem;
    --ad5-text-sm: 1rem;
  }
}

/* component */

/* utility classes */
:where(.ad5-media-wrapper-16\:9) {
  position: relative;
  height: 0;
}

.ad5-media-wrapper-16\:9 {
  padding-bottom: 56.25%;
}

.ad5-media-wrapper-16\:9 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ad5-media-wrapper-16\:9 > *:not(iframe) {
  object-fit: cover;
}

@media (min-width: 90rem) {
  .ad5-text-component__block--outset {
    width: calc(100% + 12rem);
  }

  .ad5-text-component__block--outset img {
    display: block;
    width: 100%;
  }

  .ad5-text-component__block--outset:not(.ad5-text-component__block--right) {
    margin-left: -6rem;
  }

  .ad5-text-component__block--right.ad5-text-component__block--outset {
    margin-right: -6rem;
  }
}

.ad5-gap-xs {
  gap: var(--ad5-space-xs);
}

.ad5-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ad5-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

@media (min-width: 48rem) {
  .ad5-text-component__block--left,
  .ad5-text-component__block--right {
    width: 45%;
  }

  .ad5-text-component__block--left img,
  .ad5-text-component__block--right img {
    display: block;
    width: 100%;
  }

  .ad5-text-component__block--left {
    float: left;
    margin-right: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
  }

  .ad5-text-component__block--right {
    float: right;
    margin-left: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
  }
}

@media (min-width: 90rem) {
  .ad5-text-component__block--left,
  .ad5-text-component__block--right {
    width: 50%;
  }
}

.ad5-text-center {
  text-align: center;
}

.ad5-text-gap-md {
  --ad5-space-multiplier: 1.25;
}

.ad5-line-height-lg {
  line-height: 1.58;
}

.ad5-text-component :where(h1, h2, h3, h4) {
  line-height: var(--ad5-heading-line-height, 1.2);
  margin-top: calc(var(--ad5-space-md) * var(--ad5-space-multiplier, 1));
  margin-bottom: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
}

.ad5-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--ad5-body-line-height, 1.4);
}

.ad5-text-component :where(ul, ol, p, blockquote, .ad5-text-component__block) {
  margin-bottom: calc(var(--ad5-space-sm) * var(--ad5-space-multiplier, 1));
}

.ad5-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.ad5-text-component ul :where(ul, ol),
.ad5-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.ad5-text-component ul {
  list-style-type: disc;
}

.ad5-text-component ol {
  list-style-type: decimal;
}

.ad5-text-component img {
  display: block;
  margin: 0 auto;
}

.ad5-text-component figcaption {
  margin-top: calc(var(--ad5-space-xs) * var(--ad5-space-multiplier, 1));
  font-size: var(--ad5-text-sm);
  text-align: center;
}

.ad5-text-component em {
  font-style: italic;
}

.ad5-text-component strong {
  font-weight: bold;
}

.ad5-text-component s {
  text-decoration: line-through;
}

.ad5-text-component u {
  text-decoration: underline;
}

.ad5-text-component mark {
  background-color: hsla(var(--ad5-color-accent-hsl), 0.2);
  color: inherit;
}

.ad5-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--ad5-color-contrast-lower-hsl));
  font-style: italic;
}
p.ad5-color-contrast-medium.ad5-text-md {
  text-align: center;
  font-size: 1.2rem;
}
.ad5-text-component hr {
  margin: calc(var(--ad5-space-md) * var(--ad5-space-multiplier, 1)) auto;
  background: hsl(var(--ad5-color-contrast-lower-hsl));
  height: 1px;
}

.ad5-text-component > *:first-child {
  margin-top: 0;
}

.ad5-text-component > *:last-child {
  margin-bottom: 0;
}

.ad5-text-component.ad5-line-height-xs {
  --ad5-heading-line-height: 1;
  --ad5-body-line-height: 1.1;
}

.ad5-text-component.ad5-line-height-sm {
  --ad5-heading-line-height: 1.1;
  --ad5-body-line-height: 1.2;
}

.ad5-text-component.ad5-line-height-md {
  --ad5-heading-line-height: 1.15;
  --ad5-body-line-height: 1.4;
}

.ad5-text-component.ad5-line-height-lg {
  --ad5-heading-line-height: 1.22;
  --ad5-body-line-height: 1.58;
}

.ad5-text-component.ad5-line-height-xl {
  --ad5-heading-line-height: 1.3;
  --ad5-body-line-height: 1.72;
}

.ad5-max-width-adaptive-sm {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .ad5-max-width-adaptive-sm {
    max-width: 48rem;
  }
}

.ad5-container {
  width: calc(100% - 2 * var(--ad5-space-md));
  margin-left: auto;
  margin-right: auto;
}

.ad5-radius-lg {
  border-radius: 0.5em;
}

.ad5-width-100\% {
  width: 100%;
}

.ad5-block {
  display: block;
}

.ad5-margin-bottom-lg {
  margin-bottom: var(--ad5-space-lg);
}

.ad5-max-width-lg {
  max-width: 80rem;
  aspect-ratio: 16/9;
}
img.ad5-block.ad5-width-100\%.ad5-radius-lg {
  object-fit: cover;
}
.ad5-color-contrast-medium {
  --ad5-color-o: 1;
  color: hsla(var(--ad5-color-contrast-medium-hsl), var(--ad5-color-o, 1));
}

.ad5-text-sm {
  font-size: var(--ad5-text-sm);
}

.ad5-text-base {
  font-size: var(--ad5-text-base);
}

.ad5-text-gap-2xs {
  --ad5-space-multiplier: 0.25;
}

.ad5-justify-center {
  justify-content: center;
}

.ad5-flex {
  display: flex;
}

.ad5-text-md {
  font-size: var(--ad5-text-md);
}

.ad5-margin-bottom-md {
  margin-bottom: var(--ad5-space-md);
}

.ad5-max-width-xs {
  max-width: 38rem;
}

.ad5-padding-y-lg {
  padding-top: var(--ad5-space-lg);
  padding-bottom: var(--ad5-space-lg);
}

.ad5-col-6 {
  grid-column-end: span 6;
}

.second{
	margin-left: 40%; 

}



.main-button2{
	font-family:Poppins;
	font-weight: 900;
	width: 300px;
	position:relative;
	background: #fff;
	color:#fff;
	text-align: center;
	margin:auto;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing:0.1em;
	padding: 10px 30px;
	transition: 0.5s;
}
.main-button2:hover{
	color: var(--clr);
	letter-spacing:0.15em;
	background:var(--clr);
	box-shadow:0 0 10px var(--clr);
}
.main-button2:before{
	content:'';
	position:absolute;
	inset: 2px;
	background:  black;
	
}
.main-button2 span{
	position:relative;
	
}
.main-button2 i
{
	position: absolute;
	inset:0;
	display:block;
}
.main-button2 i::before
{
	content:'';
	position:absolute;
	top:0;
	left:80%;
	width:10px;
	height:4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition:0.5s;
}
.main-button2:hover i::before
{
	width:20px;
	left:20%;

}
.main-button2 i::after
{
	content:'';
	position:absolute;
	bottom:0;
	left:20%;
	width:10px;
	height:4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition:0.5s;
}
.main-button2:hover i::after
{
	width:20px;
	left:80%;

}